---
export interface Props {
    name: string,
    price: string;
    index: number;
}
const { name, price, index } = Astro.props;
var cart = [];

---
<div class="bg-slate-300 border-8 border-black" data-index={index} data-name={name} data-price={price}>
    <h2 class="m-2 text-lg font-semibold">{name}</h2>
    <p class="m-2">${price}</p>
    <a href='/store/'class="m-2 p-.5">View Item -></a>
    <div class="add-button m-6 border-2 border-black p-4 hover:bg-slate-500">
        Add To Cart
    </div>
</div>
<script>
    
</script>

